<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Todos</h1>
    <form action="/add" method="post">
        <input type="text" name='title' >
        <input type="text" name='description' >
        <input type="text" name='completed' >
        <button type="submit" >Add</button>
    </form>
</body>
</html>